# Setup and function declarations

In [1]:
%pylab inline
import pandas as pd
import json
import matplotlib.pyplot as plt
import matplotlib.image as mpimg
import urllib2
import numpy as np
import os
import os.path
from scipy import misc
from time import strftime,strptime
import re
import math
import pymysql


def getimage(url, full_name):

    if os.path.isfile(full_name):
        return mpimg.imread(full_name)
    
    try:
        f = urllib2.urlopen(url)
    except:
        return None
    
    data = f.read()
    with open(full_name, "wb") as code:
        code.write(data)
    return mpimg.imread(full_name)


def getallimages(panda_name, column_name):
    downloaded_images = []
    for row in panda_name.loc[panda_name[column_name].notnull(),column_name]:
        for image in row:
            img = getimage(image['media_url'],image['media_url'].split('/')[-1])
            if not(img is None):
                downloaded_images.append(img)
    return downloaded_images

def klout_getId(screenname):
    url = 'http://api.klout.com/v2/identity.json/twitter?screenName={0}&key=memp3ncn4qvp6c8guzjcc8dp'.format(screenname)    
    try:
        return json.load(urllib2.urlopen(url))
    except:
        return None
    
def klout_getScore(kloutId):
    url = 'http://api.klout.com/v2/user.json/{0}/score?key=memp3ncn4qvp6c8guzjcc8dp'.format(kloutId)
    try:
        return json.load(urllib2.urlopen(url))
    except:
        return None
def extractImageUrl(cell):
    if cell is None:
        return None
    return cell[0]['media_url']

def convertDTToDB(cell):
    return strftime('%Y-%m-%d %H:%M:%S', strptime(cell,'%a %b %d %H:%M:%S +0000 %Y'))

def normalizeTweetText(text):
    if text is None or type(text) is float:
        return None
    return re.sub(r'[^\w#:@/\.\-\,]', ' ', text)

## Note that if we may put NULL for any of the attributes
## we should remove the single quotation marks from around them.
def ensureDBNull(cell):
    return 'NULL' if cell is None else ("'" + cell + "'")

def getTweetsInsertQuery(tweets):
    query = ""
    for tweet in tweets:
        temp = "('{0}', '{1}', '{2}', '{3}', {4}, \
          '{5}', {6}, '{7}')".format(tweet[0],
                                     tweet[1],
                                     tweet[2],
                                     tweet[3],
                                     ensureDBNull(tweet[4]),
                                     tweet[5],
                                     ensureDBNull(tweet[6]),
                                     tweet[7])
        
        query = "{0},\n{1}".format(query, temp)                
    query = "INSERT INTO tweet VALUES\n{0}".format(query[2:])
    return query

def getUsersInsertQuery(users):
    query = ""
    for user in users:
        temp = "('{0}', '{1}', {2}, {3}, \
          '{4}', '{5}', '{6}', {7}, '{8}')".format(user[0],
                                                   user[1],
                                                   ensureDBNull(user[2]),
                                                   user[3],
                                                   user[4],
                                                   user[5],
                                                   user[6],
                                                   ensureDBNull(user[7]),
                                                   user[8])

        query = "{0},\n{1}".format(query, temp)                
    query = "INSERT INTO user VALUES\n{0}".format(query[2:])
    return query

def getPlacesInsertQuery(places):
    query = ""
    for place in places:
        try:
            temp = "('{0}', '{1}', '{2}', '{3}')".format(place[0],
                                                         place[1],
                                                         place[2],
                                                         place[3])

            query = "{0},\n{1}".format(query, temp)
        except:
            print place
    query = "INSERT INTO place VALUES\n{0}".format(query[2:])
    return query

def convertNanToNone(text):
    try:
        if str(text) == 'nan':
            return None
    except:
        pass
    return text
def getDBInstance():
    return pymysql.connect(host="uncg.saadmtsa.club",    # your host, usually localhost
                         user="root",         # your username
                         passwd="vJnVubg49U",  # your password
                         db="twitter")

Populating the interactive namespace from numpy and matplotlib

In [2]:
## Instantiate a connection with the DB and make an instance of the cursor
mydb = getDBInstance()
mycursor = mydb.cursor()

In [3]:
## Get the data and put it in a panda dataframe
myjson = []
myfile = open("/media/saed/Data/ubuntu data/data.json", 'r')
for i in range(10000):
    myjson.append(json.loads(myfile.readline()))
myfile.close()
mypanda = pd.io.json.json_normalize(myjson)

In [4]:
mydata = mypanda.copy()

In [5]:
## Choosing the needed columns, removing duplicates,
## remove all-null rows and renaming the columns
mydata = mydata.drop_duplicates(subset = ['id_str'])
mydata = mydata[['id_str','created_at','text','coordinates.coordinates',
                  'entities.media','lang','user.id_str','user.screen_name',
                  'user.location','user.verified','user.followers_count','user.friends_count',
                  'user.statuses_count','user.created_at','place.id','place.full_name',
                  'place.country_code','place.bounding_box.coordinates']]
mydata = mydata.dropna(axis = 0, how = 'all')
mydata = mydata.loc[mydata['id_str'].notnull()]
mydata = mydata.reset_index(drop = True)
mydata = mydata.rename(index=str, columns={'id_str' : 'tweet.id', 'coordinates.coordinates' : 'tweet.coordinates',
                                  'created_at' : 'tweet.created_at', 'text' : 'tweet.text', 'lang' : 'tweet.lang',
                                  'entities.media' : 'tweet.media', 'user.id_str' : 'user.id',
                                  'place.full_name' : 'place.name', 'place.country_code' : 'place.country',
                                  'place.bounding_box.coordinates' : 'place.polygon'})

In [6]:
## Normalizing data representation a little
mydata = mydata.applymap(convertNanToNone)
mydata['tweet.created_at'] = mydata['tweet.created_at'].apply(convertDTToDB)
mydata['user.created_at'] = mydata['user.created_at'].apply(convertDTToDB)
mydata['tweet.coordinates'] = mydata['tweet.coordinates'].apply(convertNanToNone)
mydata['tweet.text'] = mydata['tweet.text'].apply(normalizeTweetText)
mydata['user.location'] = mydata['user.location'].apply(normalizeTweetText)
mydata['tweet.media'] = mydata['tweet.media'].apply(extractImageUrl)
mydata

,tweet.id,tweet.created_at,tweet.text,tweet.coordinates,tweet.media,tweet.lang,user.id,user.screen_name,user.location,user.verified,user.followers_count,user.friends_count,user.statuses_count,user.created_at,place.id,place.name,place.country,place.polygon
0,962724762760839168,2018-02-11 16:27:24,@Gabbyxclairee get it right... https://t.co/ju...,None,http://pbs.twimg.com/tweet_video_thumb/DVxJDvT...,en,2191035103,oscarmart91232,None,False,202.0,766.0,6106.0,2013-11-12 20:54:06,650ad90d3abfb53b,"Junction City, OR",US,"[[[-123.22293, 44.193041], [-123.22293, 44.233..."
1,962724763566211072,2018-02-11 16:27:24,Going to be an annoying last 35 minutes.,None,None,en,30269393,TJ_Pittinger,"Tampa, FL",False,5415.0,606.0,164117.0,2009-04-10 17:47:42,00b6a1c7611dcf24,"Connerton, FL",US,"[[[-82.520132, 28.251311], [-82.520132, 28.324..."
2,962724763822108672,2018-02-11 16:27:24,i have a credit card now and idk what to do wi...,None,None,en,908661288,ashcucs,"Boston, MA",False,472.0,299.0,22791.0,2012-10-27 18:27:18,67b98f17fdcf20be,"Boston, MA",US,"[[[-71.191421, 42.227797], [-71.191421, 42.399..."
3,962724763910266880,2018-02-11 16:27:24,I m essentially being paid to sit here and wat...,None,None,en,2491889299,lainey_bugs,"Cincinnati, OH",False,803.0,550.0,41082.0,2014-05-12 19:34:11,e444ecd51bd16ff3,"Cincinnati, OH",US,"[[[-84.710722, 39.052962], [-84.710722, 39.221..."
4,962724764157661184,2018-02-11 16:27:24,Hmm I don t think I understand https://t.co/...,None,None,en,3326890636,FandomFeliciano,"Dallas-Fort Worth, TX",False,1853.0,1499.0,23005.0,2015-06-15 12:17:58,42e46bc3663a4b5f,"Fort Worth, TX",US,"[[[-97.538285, 32.569477], [-97.538285, 32.990..."
5,962724764635860992,2018-02-11 16:27:25,I miss my Daugther,None,None,en,42798593,simplyySemaj,"Philadelphia, PA",False,398.0,352.0,23572.0,2009-05-27 02:54:33,e4a0d228eb6be76b,"Philadelphia, PA",US,"[[[-75.280284, 39.871811], [-75.280284, 40.137..."
6,962724765919334400,2018-02-11 16:27:25,I haven t worn any makeup for like 2 or 3 week...,None,None,en,2816396605,sarahbeth102938,"Hawesville, KY",False,576.0,1281.0,11044.0,2014-09-18 04:46:22,c596737f61af0189,"Hawesville, KY",US,"[[[-86.774577, 37.882528], [-86.774577, 37.906..."
7,962724765969547269,2018-02-11 16:27:25,Now on tap: Rusty Rail Wolf King Imperial Stou...,"[-80.0439575, 40.3870542]",None,en,703971530,KornerPub,"Mt. Lebanon, PA",False,604.0,239.0,1410.0,2012-07-18 23:19:11,7cd18caa8c0ebb9f,"Mount Lebanon, PA",US,"[[[-80.082398, 40.350594], [-80.082398, 40.401..."
8,962724765801811971,2018-02-11 16:27:25,girl @ this rain and it s cold af,"[-96.7380196, 32.91375244]",None,en,107784207,sirsIaysalot,None,False,2266.0,269.0,12695.0,2010-01-23 18:36:19,18810aa5b43e76c7,"Dallas, TX",US,"[[[-96.977527, 32.620678], [-96.977527, 33.019..."
9,962724766112153601,2018-02-11 16:27:25,One Thing I ve Learned Is To Not Ask For Shit ...,None,None,en,995423779,LoveKashhh,Sc: WhyHateMe4,False,488.0,468.0,3888.0,2012-12-07 16:36:07,dc62519fda13b4ec,"Tampa, FL",US,"[[[-82.620093, 27.821353], [-82.620093, 28.171..."
10,962724766179307520,2018-02-11 16:27:25,@accxid Naa im just waking up,None,None,en,4064049139,NewFreiza,Algiers.,False,795.0,385.0,3688.0,2015-10-30 02:34:07,25041b89e1b96118,"Woodmere, LA",US,"[[[-90.089118, 29.838214], [-90.089118, 29.874..."
11,962724766636564480,2018-02-11 16:27:25,@calmekay @__Lamont @FemiO_ Nobody will ever t...,None,None,en,102805798,20Just_Scored,None,False,1073.0,1435.0,5957.0,2010-01-07 22:12:25,00f751614d8ce37b,"Richmond, VA",US,"[[[-77.601044, 37.447046], [-77.601044, 37.612..."
12,962724766955208705,2018-02-11 16:27:25,Churchflow,None,None,en,41410742,lyndellfstrickl,None,False,1312.0,2375.0,36986.0,2009-05-20 18:00:01,03cc1ebe1b349ee3,"Gary, IN",US,"[[[-87.433258, 41.521967], [-87.433258, 41.649..."
13,962724767307575296,2018-02-11 16:27:25,@TheeScrappyDoo My man Thats whats up,None,None,en,295906993,brianluebben,"Atlanta, GA",False,20758.0,652.0,17244.0,2011-05-09 21:26:16,5b8df26e6d0be60b,"Smyrna, GA",US,"[[[-84.561205, 33.788139], [-84.561205, 33.905..."
14,962724767097696257,2018-02-11 16:27:25,Disingenuous liberal Establishment Trump amp ...,None,None,en,992234612,machiavelli14,None,False,2380.0,2482.0,19821.0,2012-12-06 02:34:04,38d5974e82ed1a6c,"Ottawa, Ontario",CA,"[[[-76.353876, 44.961937], [-76.353876, 45.535..."
15,962724767504707584,2018-02-11 16:27:25,Bonuses are bandaids. Raises are the cure http...,None,None,en,204909773,TSpare,"Lancaster, PA",False,255.0,286.0,1269.0,2010-10-19 18:46:56,dd9c503d6c35364b,"Pennsylvania, USA",US,"[[[-80.519851, 39.719801], [-80.519851, 42.516..."
16,962724767726960640,2018-02-11 16:27:25,@TimTebow Yes Amen,None,None,en,1270987818,MyTracea,"Moseley, Virginia",False,426.0,209.0,3680.0,2013-03-15 23:58:56,5635c19c2b5078d1,"Virginia, USA",US,"[[[-83.67529, 36.540739], [-83.67529, 39.46601..."
17,962724768108765184,2018-02-11 16:27:25,@diana_nam26 worked for me,None,None,en,2416603414,andrewk_04,None,False,451.0,353.0,3865.0,2014-03-17 02:24:13,515586774402eacb,"Ellicott City, MD",US,"[[[-76.952172, 39.215288], [-76.952172, 39.324..."
18,962724767529881603,2018-02-11 16:27:25,@RWPUSA And he never TWEETS this photo https:/...,None,http://pbs.twimg.com/media/DVxJEbCUMAEltZl.jpg,en,715094015,gpliafail,None,False,601.0,458.0,84380.0,2013-10-14 20:47:53,361610d5aa1f6719,"Conroe, TX",US,"[[[-95.679001, 30.23105], [-95.679001, 30.4439..."
19,962724767471030272,2018-02-11 16:27:25,A flashback from a great metal show at The Bil...,None,None,en,4330362920,Teknishawn,"Surrey, British Columbia",False,27.0,100.0,50.0,2015-11-23 04:45:21,09efd2065c8ce28e,"Surrey, British Columbia",CA,"[[[-122.958937, 49.001921], [-122.958937, 49.2..."
20,962724768574332928,2018-02-11 16:27:26,Fortnite players piss me off so much. All they...,None,None,en,2348016603,Bruins08_,"Chesapeake, VA",False,355.0,395.0,7566.0,2014-02-17 04:08:02,73d1c1c11b675932,"Chesapeake, VA",US,"[[[-76.448383, 36.66], [-76.448383, 36.866431]..."
21,962724767261323264,2018-02-11 16:27:25,My mum s flight is delayed by four hours https...,None,http://pbs.twimg.com/tweet_video_thumb/DVxJDy1...,en,936524682341236736,AlexReesBlog,"Seattle, WA",False,975.0,1520.0,318.0,2017-12-01 09:17:38,300bcc6e23a88361,"Seattle, WA",US,"[[[-122.436232, 47.495315], [-122.436232, 47.7..."
22,962724765164232704,2018-02-11 16:27:25,@alfredo_0622 https://t.co/mNM6mqUa7U,None,http://pbs.twimg.com/tweet_video_thumb/DVxJEHD...,und,24611683,AnthonyMonroe,Whittier.,False,1173.0,355.0,56990.0,2009-03-15 23:55:26,f8f8ee516109ee0e,"Whittier, CA",US,"[[[-118.072424, 33.928201], [-118.072424, 34.0..."
23,962724770184916994,2018-02-11 16:27:26,"Of course floyd beat connor in a boxing ring, ...",None,None,en,781316231139778560,MattJ_33,Wyoming / Louisiana,False,365.0,414.0,2545.0,2016-09-29 02:14:40,4ec71fc3f2579572,"Shreveport, LA",US,"[[[-93.938883, 32.332455], [-93.938883, 32.589..."
24,962724770994446337,2018-02-11 16:27:26,Matthieu Flamini plays for Getafe I thought t...,None,None,en,174777772,MattCocco,Boston to LA and back Boston,False,431.0,646.0,11052.0,2010-08-04 20:10:31,ae845a49091f2727,"Somerville, MA",US,"[[[-71.134552, 42.372753], [-71.134552, 42.418..."
25,962724771074138112,2018-02-11 16:27:26,"@Nooraty41 Good Luck from Saint Michael, Minne...",None,None,en,859095122,rasmusenhockey,None,False,37.0,44.0,103.0,2012-10-03 03:02:16,344aab839ec7e1a8,"Sartell, MN",US,"[[[-94.255707, 45.585516], [-94.255707, 45.679..."
26,962724770700824577,2018-02-11 16:27:26,"I wouldn t be angry if say, you were driving b...",None,None,en,568476773,Lfmjr22,"Garland, TX",False,84.0,106.0,7113.0,2012-05-01 19:35:54,7c01d867b8e8c494,"Garland, TX",US,"[[[-96.706144, 32.829815], [-96.706144, 32.985..."
27,962724771736834049,2018-02-11 16:27:26,speak on it sis https://t.co/ybSorp0ev0,None,None,en,129301385,_christianreyes,CT,False,543.0,337.0,26993.0,2010-04-03 21:15:45,f080a098cad5b04d,"New Britain, CT",US,"[[[-72.826538, 41.643749], [-72.826538, 41.715..."
28,962724771791335424,2018-02-11 16:27:26,@nhljennifer i think about this tweet every mi...,None,None,en,1255639044,isabellamwagner,nyi tml drw,False,247.0,687.0,5034.0,2013-03-09 23:50:14,011add077f4d2da3,"Brooklyn, NY",US,"[[[-74.041878, 40.570842], [-74.041878, 40.739..."
29,962724771590017025,2018-02-11 16:27:26,I m so over this day,None,None,en,3674872835,keetkeet_2613,None,False,170.0,120.0,2846.0,2015-09-16 12:48:58,a307591cd0413588,"Buffalo, NY",US,"[[[-78.912276, 42.826008], [-78.912276, 42.966..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9959,962726933040594944,2018-02-11 16:36:02,So many compliments yesterday about me. your...,None,None,en,4537818809,Orchid_x33,"Miami, FL",False,2632.0,4934.0,20062.0,2015-12-19 17:58:59,4ec01c9dbc693497,"Florida, USA",US,"[[[-87.634643, 24.396308], [-87.634643, 31.001..."
9960,962726932784676864,2018-02-11 16:36:02,We re #hiring Read about our latest #job open...,"[-80.3122862, 25.9795434]",None,en,22262228,tmj_mia_health,"Miami, FL",False,616.0,305.0,310.0,2009-02-28 15:02:49,5ca2cc5afa0894df,"Miramar, FL",US,"[[[-80.40816, 25.956799], [-80.40816, 25.99544..."
9961,962726931383775234,2018-02-11 16:36:01,"See our latest #Aurora, IL #job and click to a...","[-88.3200715, 41.7605849]",None,en,2203620698,MyBeerCareer,None,False,84.0,9.0,215.0,2013-11-19 19:17:27,f54a2170ff4b15f7,"Illinois, USA",US,"[[[-91.51308, 36.970298], [-91.51308, 42.50830..."
9962,962726933095223296,2018-02-11 16:36:02,Y entra Dembel Aire fresco para la delante...,None,None,es,167571290,sofiorozco,Bogot y Panam,False,14029.0,887.0,96403.0,2010-07-16 23:04:28,04cb31bae3b3af93,"Miami, FL",US,"[[[-80.321683, 25.70904], [-80.321683, 25.8556..."
9963,962726933057306630,2018-02-11 16:36:02,"@NBCOlympics - Last night, stellar performance...",None,None,en,958669507374940160,GauravJ85800228,"California, USA",False,3.0,34.0,373.0,2018-01-31 11:53:16,7d62cffe6f98f349,"San Jose, CA",US,"[[[-122.035311, 37.193164], [-122.035311, 37.4..."
9964,962726932168273920,2018-02-11 16:36:01,4laraza,None,None,es,162807961,realdeezyblaze,port schuyler,False,768.0,550.0,83829.0,2010-07-04 18:56:59,51cc4a7155935af2,"Troy, NY",US,"[[[-73.724998, 42.660879], [-73.724998, 42.795..."
9965,962726932612870145,2018-02-11 16:36:01,https://t.co/iA8KHJWzP1,None,http://pbs.twimg.com/media/DVxLCgmWsAApEdY.jpg,und,405955869,J_Mohrr6,"Sandusky South, OH",False,1483.0,748.0,95040.0,2011-11-06 01:49:22,fcc54ac4568181a4,"Sandusky, OH",US,"[[[-82.78773, 41.409372], [-82.78773, 41.49237..."
9966,962726933397110787,2018-02-11 16:36:02,@ObeyEric__ U tryna wash my clothes,None,None,en,24950674,PrettyyTm,"Cleveland, OH",False,61126.0,48091.0,24314.0,2009-03-17 20:44:21,0eb9676d24b211f1,"Cleveland, OH",US,"[[[-81.877771, 41.392684], [-81.877771, 41.599..."
9967,962726933086613504,2018-02-11 16:36:02,"See our latest #Barrie, ON #job and click to a...","[-79.6903316, 44.3893556]",None,en,141463367,tmj_ON_retail,Ontario,False,372.0,277.0,185.0,2010-05-08 04:48:11,11ec8106d4d1a9a4,"Barrie, Ontario",CA,"[[[-79.746259, 44.318131], [-79.746259, 44.424..."
9968,962726931241332737,2018-02-11 16:36:01,Thankful for everyone who made my bday great ...,None,http://pbs.twimg.com/media/DVxLAjLVoAAFGUR.jpg,en,501328254,alexisjade_12,None,False,621.0,593.0,6911.0,2012-02-24 01:21:48,b980515f617707a9,"Wichita Falls, TX",US,"[[[-98.614411, 33.835461], [-98.614411, 34.017..."
9969,962726933833441287,2018-02-11 16:36:02,If you WANT water then no. But tbh I ve been o...,None,None,en,50168771,Drew_Magic_,"Charlotte, NC",False,7194.0,2845.0,96870.0,2009-06-24 01:24:59,a6c257c61f294ec1,"Greensboro, NC",US,"[[[-80.029518, 35.962623], [-80.029518, 36.218..."
9970,962726933002899456,2018-02-11 16:36:02,Im tryna be Jay Williams shooting my shot ht...,None,None,en,2402345703,_NyDre,None,False,651.0,169.0,11876.0,2014-03-11 14:23:38,caad7389e8124733,"South Gate, MD",US,"[[[-76.661193, 39.105728], [-76.661193, 39.160..."
9971,962726934290542593,2018-02-11 16:36:02,when you too indulged in living your best life...,None,None,en,3207531635,__stretch_,somewhere influencing blksouls,False,279.0,317.0,4041.0,2015-04-25 22:25:59,1d9a5370a355ab0c,"Chicago, IL",US,"[[[-87.940033, 41.644102], [-87.940033, 42.023..."
9972,962726934445723648,2018-02-11 16:36:02,@JudgeJeanine Moron.,None,None,en,1035273427,RjliiiRuss,"Beulaville, NC",False,134.0,374.0,7848.0,2012-12-25 17:47:28,3b98b02fba3f9753,"North Carolina, USA",US,"[[[-84.321948, 33.752879], [-84.321948, 36.588..."
9973,962726934886174720,2018-02-11 16:36:02,"So, I wonder if @NBCOlympics unblock South Kor...",None,None,en,957135797471383552,_alicely,"Chicago, IL",False,22.0,97.0,85.0,2018-01-27 06:18:51,1d9a5370a355ab0c,"Chicago, IL",US,"[[[-87.940033, 41.644102], [-87.940033, 42.023..."
9974,962726935079063552,2018-02-11 16:36:02,@AdamParkhomenko Not if he s smart,None,None,en,2473026932,bjewing2,"Holmesburg, Philadelphia",False,806.0,107.0,79640.0,2014-05-01 21:00:00,e4a0d228eb6be76b,"Philadelphia, PA",US,"[[[-75.280284, 39.871811], [-75.280284, 40.137..."
9975,962726935045558273,2018-02-11 16:36:02,I m at Metropolitan At Buckhead Pool in Atlant...,"[-84.35918283, 33.8425496]",None,en,1481137530,ChesterThrash,"Atlanta, Ga",False,646.0,2829.0,34675.0,2013-06-04 02:32:38,8173485c72e78ca5,"Atlanta, GA",US,"[[[-84.576827, 33.647503], [-84.576827, 33.886..."
9976,962726935481671682,2018-02-11 16:36:02,Join the Red Lobster team See our latest #job...,"[-86.0573185, 39.905976]",None,en,22494365,tmj_ind_hrta,"Indianapolis, IN",False,404.0,290.0,1147.0,2009-03-02 15:31:32,018929347840059e,"Indianapolis, IN",US,"[[[-86.348441, 39.631677], [-86.348441, 39.927..."
9977,962726936131850240,2018-02-11 16:36:02,my dad found out that I ve been stealing the p...,None,None,en,714943533728141312,xslurmx,"Austin, TX",False,556.0,356.0,6202.0,2016-03-29 22:33:16,c3f37afa9efcf94b,"Austin, TX",US,"[[[-97.928935, 30.127892], [-97.928935, 30.518..."
9978,962726935867678721,2018-02-11 16:36:02,i feel this IN MY SOUL. https://t.co/dYxOY2bGwG,None,None,en,154219215,Itsjairoagain,None,False,159.0,135.0,11977.0,2010-06-10 17:48:29,629f4a26fed69cd3,"Hialeah, FL",US,"[[[-80.356354, 25.806057], [-80.356354, 25.909..."
9979,962726935439728641,2018-02-11 16:36:02,There are so many dumbfounding aspects to th...,None,None,en,13505842,brofax,"Denver, CO",True,1664.0,741.0,18917.0,2008-02-15 06:16:05,b49b3053b5c25bf5,"Denver, CO",US,"[[[-105.109815, 39.614151], [-105.109815, 39.8..."
9980,962726931753000960,2018-02-11 16:36:01,Happy 39th birthday to my favorite R amp B sin...,None,None,en,411061777,aminaikpefua96,"Fredericksburg,VA-Tuskegee, AL",False,1662.0,3311.0,8739.0,2011-11-12 23:10:46,28df0fa3673b5b49,"Tuskegee, AL",US,"[[[-85.747927, 32.386278], [-85.747927, 32.460..."
9981,962726930343780352,2018-02-11 16:36:01,HIV Women at The #AIDSHIVSurvivorLivingMemori...,None,None,en,4810707016,ZeeZalnasky,"Florida, USA",False,553.0,1248.0,5094.0,2016-01-15 04:17:46,4ebdbc556ccd2f12,"Deerfield Beach, FL",US,"[[[-80.170343, 26.274467], [-80.170343, 26.327..."
9982,962726936886894594,2018-02-11 16:36:03,FIRMINOOOOOOOOOOO BRAZILIAN GOD,None,None,en,522213549,hashim_cole,"Kennesaw, GA/Lawrenceville, GA",False,7872.0,5879.0,270116.0,2012-03-12 12:34:59,7142eb97ae21e839,"Georgia, USA",US,"[[[-85.605166, 30.355644], [-85.605166, 35.000..."
9983,962726937226604547,2018-02-11 16:36:03,Get the duck in Bobby,None,None,en,1927064575,great_dany,"Dallas, TX",False,320.0,778.0,920.0,2013-10-02 14:24:50,18810aa5b43e76c7,"Dallas, TX",US,"[[[-96.977527, 32.620678], [-96.977527, 33.019..."
9984,962726931673133056,2018-02-11 16:36:01,This #job might be a great fit for you: Invest...,"[-79.493385, 43.732256]",None,en,21679394,tmj_gta_banking,Toronto,False,521.0,336.0,25.0,2009-02-23 18:49:46,3797791ff9c0e4c6,"Toronto, Ontario",CA,"[[[-79.639319, 43.403221], [-79.639319, 43.855..."
9985,962726937100767232,2018-02-11 16:36:03,@RespectMyMAC @AyeeeIts_TuTu What she say,None,None,en,220523207,_muvah,Happy Hour,False,350.0,307.0,6761.0,2010-11-28 01:31:10,01fbe706f872cb32,"Washington, DC",US,"[[[-77.119401, 38.801826], [-77.119401, 38.995..."
9986,962726937096531969,2018-02-11 16:36:03,@joshgalindo78 Try @AverageOPodcast here n San...,None,None,en,55857129,L2theO,"San Antonio, TX",False,122.0,115.0,2656.0,2009-07-11 15:45:04,3df4f427b5a60fea,"San Antonio, TX",US,"[[[-98.778559, 29.141956], [-98.778559, 29.693..."
9987,962726937029369857,2018-02-11 16:36:03,@jonc901 @KateeForbis @edsbs I really only hel...,None,None,en,20616741,steveschale,"Tallahassee, FL",True,23845.0,3077.0,51348.0,2009-02-11 19:22:51,ecbe2aea853af44e,"Tallahassee, FL",US,"[[[-84.386548, 30.365093], [-84.386548, 30.587..."
9988,962726936920449025,2018-02-11 16:36:03,Putting this on today to celebrate for sure #...,None,None,en,95602105,DiffKitchen,The 6ix,False,263.0,4.0,8798.0,2009-12-09 08:16:03,3797791ff9c0e4c6,"Toronto, Ontario",CA,"[[[-79.639319, 43.403221], [-79.639319, 43.855..."

In [7]:
tweets = mydata[['tweet.id','tweet.created_at','tweet.text','user.id','tweet.coordinates','place.id','tweet.media','tweet.lang']]
tweets

,tweet.id,tweet.created_at,tweet.text,user.id,tweet.coordinates,place.id,tweet.media,tweet.lang
0,962724762760839168,2018-02-11 16:27:24,@Gabbyxclairee get it right... https://t.co/ju...,2191035103,None,650ad90d3abfb53b,http://pbs.twimg.com/tweet_video_thumb/DVxJDvT...,en
1,962724763566211072,2018-02-11 16:27:24,Going to be an annoying last 35 minutes.,30269393,None,00b6a1c7611dcf24,None,en
2,962724763822108672,2018-02-11 16:27:24,i have a credit card now and idk what to do wi...,908661288,None,67b98f17fdcf20be,None,en
3,962724763910266880,2018-02-11 16:27:24,I m essentially being paid to sit here and wat...,2491889299,None,e444ecd51bd16ff3,None,en
4,962724764157661184,2018-02-11 16:27:24,Hmm I don t think I understand https://t.co/...,3326890636,None,42e46bc3663a4b5f,None,en
5,962724764635860992,2018-02-11 16:27:25,I miss my Daugther,42798593,None,e4a0d228eb6be76b,None,en
6,962724765919334400,2018-02-11 16:27:25,I haven t worn any makeup for like 2 or 3 week...,2816396605,None,c596737f61af0189,None,en
7,962724765969547269,2018-02-11 16:27:25,Now on tap: Rusty Rail Wolf King Imperial Stou...,703971530,"[-80.0439575, 40.3870542]",7cd18caa8c0ebb9f,None,en
8,962724765801811971,2018-02-11 16:27:25,girl @ this rain and it s cold af,107784207,"[-96.7380196, 32.91375244]",18810aa5b43e76c7,None,en
9,962724766112153601,2018-02-11 16:27:25,One Thing I ve Learned Is To Not Ask For Shit ...,995423779,None,dc62519fda13b4ec,None,en
10,962724766179307520,2018-02-11 16:27:25,@accxid Naa im just waking up,4064049139,None,25041b89e1b96118,None,en
11,962724766636564480,2018-02-11 16:27:25,@calmekay @__Lamont @FemiO_ Nobody will ever t...,102805798,None,00f751614d8ce37b,None,en
12,962724766955208705,2018-02-11 16:27:25,Churchflow,41410742,None,03cc1ebe1b349ee3,None,en
13,962724767307575296,2018-02-11 16:27:25,@TheeScrappyDoo My man Thats whats up,295906993,None,5b8df26e6d0be60b,None,en
14,962724767097696257,2018-02-11 16:27:25,Disingenuous liberal Establishment Trump amp ...,992234612,None,38d5974e82ed1a6c,None,en
15,962724767504707584,2018-02-11 16:27:25,Bonuses are bandaids. Raises are the cure http...,204909773,None,dd9c503d6c35364b,None,en
16,962724767726960640,2018-02-11 16:27:25,@TimTebow Yes Amen,1270987818,None,5635c19c2b5078d1,None,en
17,962724768108765184,2018-02-11 16:27:25,@diana_nam26 worked for me,2416603414,None,515586774402eacb,None,en
18,962724767529881603,2018-02-11 16:27:25,@RWPUSA And he never TWEETS this photo https:/...,715094015,None,361610d5aa1f6719,http://pbs.twimg.com/media/DVxJEbCUMAEltZl.jpg,en
19,962724767471030272,2018-02-11 16:27:25,A flashback from a great metal show at The Bil...,4330362920,None,09efd2065c8ce28e,None,en
20,962724768574332928,2018-02-11 16:27:26,Fortnite players piss me off so much. All they...,2348016603,None,73d1c1c11b675932,None,en
21,962724767261323264,2018-02-11 16:27:25,My mum s flight is delayed by four hours https...,936524682341236736,None,300bcc6e23a88361,http://pbs.twimg.com/tweet_video_thumb/DVxJDy1...,en
22,962724765164232704,2018-02-11 16:27:25,@alfredo_0622 https://t.co/mNM6mqUa7U,24611683,None,f8f8ee516109ee0e,http://pbs.twimg.com/tweet_video_thumb/DVxJEHD...,und
23,962724770184916994,2018-02-11 16:27:26,"Of course floyd beat connor in a boxing ring, ...",781316231139778560,None,4ec71fc3f2579572,None,en
24,962724770994446337,2018-02-11 16:27:26,Matthieu Flamini plays for Getafe I thought t...,174777772,None,ae845a49091f2727,None,en
25,962724771074138112,2018-02-11 16:27:26,"@Nooraty41 Good Luck from Saint Michael, Minne...",859095122,None,344aab839ec7e1a8,None,en
26,962724770700824577,2018-02-11 16:27:26,"I wouldn t be angry if say, you were driving b...",568476773,None,7c01d867b8e8c494,None,en
27,962724771736834049,2018-02-11 16:27:26,speak on it sis https://t.co/ybSorp0ev0,129301385,None,f080a098cad5b04d,None,en
28,962724771791335424,2018-02-11 16:27:26,@nhljennifer i think about this tweet every mi...,1255639044,None,011add077f4d2da3,None,en
29,962724771590017025,2018-02-11 16:27:26,I m so over this day,3674872835,None,a307591cd0413588,None,en
...,...,...,...,...,...,...,...,...
9959,962726933040594944,2018-02-11 16:36:02,So many compliments yesterday about me. your...,4537818809,None,4ec01c9dbc693497,None,en
9960,962726932784676864,2018-02-11 16:36:02,We re #hiring Read about our latest #job open...,22262228,"[-80.3122862, 25.9795434]",5ca2cc5afa0894df,None,en
9961,962726931383775234,2018-02-11 16:36:01,"See our latest #Aurora, IL #job and click to a...",2203620698,"[-88.3200715, 41.7605849]",f54a2170ff4b15f7,None,en
9962,962726933095223296,2018-02-11 16:36:02,Y entra Dembel Aire fresco para la delante...,167571290,None,04cb31bae3b3af93,None,es
9963,962726933057306630,2018-02-11 16:36:02,"@NBCOlympics - Last night, stellar performance...",958669507374940160,None,7d62cffe6f98f349,None,en
9964,962726932168273920,2018-02-11 16:36:01,4laraza,162807961,None,51cc4a7155935af2,None,es
9965,962726932612870145,2018-02-11 16:36:01,https://t.co/iA8KHJWzP1,405955869,None,fcc54ac4568181a4,http://pbs.twimg.com/media/DVxLCgmWsAApEdY.jpg,und
9966,962726933397110787,2018-02-11 16:36:02,@ObeyEric__ U tryna wash my clothes,24950674,None,0eb9676d24b211f1,None,en
9967,962726933086613504,2018-02-11 16:36:02,"See our latest #Barrie, ON #job and click to a...",141463367,"[-79.6903316, 44.3893556]",11ec8106d4d1a9a4,None,en
9968,962726931241332737,2018-02-11 16:36:01,Thankful for everyone who made my bday great ...,501328254,None,b980515f617707a9,http://pbs.twimg.com/media/DVxLAjLVoAAFGUR.jpg,en
9969,962726933833441287,2018-02-11 16:36:02,If you WANT water then no. But tbh I ve been o...,50168771,None,a6c257c61f294ec1,None,en
9970,962726933002899456,2018-02-11 16:36:02,Im tryna be Jay Williams shooting my shot ht...,2402345703,None,caad7389e8124733,None,en
9971,962726934290542593,2018-02-11 16:36:02,when you too indulged in living your best life...,3207531635,None,1d9a5370a355ab0c,None,en
9972,962726934445723648,2018-02-11 16:36:02,@JudgeJeanine Moron.,1035273427,None,3b98b02fba3f9753,None,en
9973,962726934886174720,2018-02-11 16:36:02,"So, I wonder if @NBCOlympics unblock South Kor...",957135797471383552,None,1d9a5370a355ab0c,None,en
9974,962726935079063552,2018-02-11 16:36:02,@AdamParkhomenko Not if he s smart,2473026932,None,e4a0d228eb6be76b,None,en
9975,962726935045558273,2018-02-11 16:36:02,I m at Metropolitan At Buckhead Pool in Atlant...,1481137530,"[-84.35918283, 33.8425496]",8173485c72e78ca5,None,en
9976,962726935481671682,2018-02-11 16:36:02,Join the Red Lobster team See our latest #job...,22494365,"[-86.0573185, 39.905976]",018929347840059e,None,en
9977,962726936131850240,2018-02-11 16:36:02,my dad found out that I ve been stealing the p...,714943533728141312,None,c3f37afa9efcf94b,None,en
9978,962726935867678721,2018-02-11 16:36:02,i feel this IN MY SOUL. https://t.co/dYxOY2bGwG,154219215,None,629f4a26fed69cd3,None,en
9979,962726935439728641,2018-02-11 16:36:02,There are so many dumbfounding aspects to th...,13505842,None,b49b3053b5c25bf5,None,en
9980,962726931753000960,2018-02-11 16:36:01,Happy 39th birthday to my favorite R amp B sin...,411061777,None,28df0fa3673b5b49,None,en
9981,962726930343780352,2018-02-11 16:36:01,HIV Women at The #AIDSHIVSurvivorLivingMemori...,4810707016,None,4ebdbc556ccd2f12,None,en
9982,962726936886894594,2018-02-11 16:36:03,FIRMINOOOOOOOOOOO BRAZILIAN GOD,522213549,None,7142eb97ae21e839,None,en
9983,962726937226604547,2018-02-11 16:36:03,Get the duck in Bobby,1927064575,None,18810aa5b43e76c7,None,en
9984,962726931673133056,2018-02-11 16:36:01,This #job might be a great fit for you: Invest...,21679394,"[-79.493385, 43.732256]",3797791ff9c0e4c6,None,en
9985,962726937100767232,2018-02-11 16:36:03,@RespectMyMAC @AyeeeIts_TuTu What she say,220523207,None,01fbe706f872cb32,None,en
9986,962726937096531969,2018-02-11 16:36:03,@joshgalindo78 Try @AverageOPodcast here n San...,55857129,None,3df4f427b5a60fea,None,en
9987,962726937029369857,2018-02-11 16:36:03,@jonc901 @KateeForbis @edsbs I really only hel...,20616741,None,ecbe2aea853af44e,None,en
9988,962726936920449025,2018-02-11 16:36:03,Putting this on today to celebrate for sure #...,95602105,None,3797791ff9c0e4c6,None,en

In [8]:
try:
    mycursor.execute(getTweetsInsertQuery(tweets.values))
    mydb.commit()
except:
    pass

In [9]:
users = mydata[['user.id','user.screen_name','user.location','user.verified','user.followers_count','user.friends_count','user.statuses_count','user.created_at']]
users = users.drop_duplicates(subset = ['user.id'])
users['klout_score'] = [0.0] * len(users)
users

,user.id,user.screen_name,user.location,user.verified,user.followers_count,user.friends_count,user.statuses_count,user.created_at,klout_score
0,2191035103,oscarmart91232,None,False,202.0,766.0,6106.0,2013-11-12 20:54:06,0.0
1,30269393,TJ_Pittinger,"Tampa, FL",False,5415.0,606.0,164117.0,2009-04-10 17:47:42,0.0
2,908661288,ashcucs,"Boston, MA",False,472.0,299.0,22791.0,2012-10-27 18:27:18,0.0
3,2491889299,lainey_bugs,"Cincinnati, OH",False,803.0,550.0,41082.0,2014-05-12 19:34:11,0.0
4,3326890636,FandomFeliciano,"Dallas-Fort Worth, TX",False,1853.0,1499.0,23005.0,2015-06-15 12:17:58,0.0
5,42798593,simplyySemaj,"Philadelphia, PA",False,398.0,352.0,23572.0,2009-05-27 02:54:33,0.0
6,2816396605,sarahbeth102938,"Hawesville, KY",False,576.0,1281.0,11044.0,2014-09-18 04:46:22,0.0
7,703971530,KornerPub,"Mt. Lebanon, PA",False,604.0,239.0,1410.0,2012-07-18 23:19:11,0.0
8,107784207,sirsIaysalot,None,False,2266.0,269.0,12695.0,2010-01-23 18:36:19,0.0
9,995423779,LoveKashhh,Sc: WhyHateMe4,False,488.0,468.0,3888.0,2012-12-07 16:36:07,0.0
10,4064049139,NewFreiza,Algiers.,False,795.0,385.0,3688.0,2015-10-30 02:34:07,0.0
11,102805798,20Just_Scored,None,False,1073.0,1435.0,5957.0,2010-01-07 22:12:25,0.0
12,41410742,lyndellfstrickl,None,False,1312.0,2375.0,36986.0,2009-05-20 18:00:01,0.0
13,295906993,brianluebben,"Atlanta, GA",False,20758.0,652.0,17244.0,2011-05-09 21:26:16,0.0
14,992234612,machiavelli14,None,False,2380.0,2482.0,19821.0,2012-12-06 02:34:04,0.0
15,204909773,TSpare,"Lancaster, PA",False,255.0,286.0,1269.0,2010-10-19 18:46:56,0.0
16,1270987818,MyTracea,"Moseley, Virginia",False,426.0,209.0,3680.0,2013-03-15 23:58:56,0.0
17,2416603414,andrewk_04,None,False,451.0,353.0,3865.0,2014-03-17 02:24:13,0.0
18,715094015,gpliafail,None,False,601.0,458.0,84380.0,2013-10-14 20:47:53,0.0
19,4330362920,Teknishawn,"Surrey, British Columbia",False,27.0,100.0,50.0,2015-11-23 04:45:21,0.0
20,2348016603,Bruins08_,"Chesapeake, VA",False,355.0,395.0,7566.0,2014-02-17 04:08:02,0.0
21,936524682341236736,AlexReesBlog,"Seattle, WA",False,975.0,1520.0,318.0,2017-12-01 09:17:38,0.0
22,24611683,AnthonyMonroe,Whittier.,False,1173.0,355.0,56990.0,2009-03-15 23:55:26,0.0
23,781316231139778560,MattJ_33,Wyoming / Louisiana,False,365.0,414.0,2545.0,2016-09-29 02:14:40,0.0
24,174777772,MattCocco,Boston to LA and back Boston,False,431.0,646.0,11052.0,2010-08-04 20:10:31,0.0
25,859095122,rasmusenhockey,None,False,37.0,44.0,103.0,2012-10-03 03:02:16,0.0
26,568476773,Lfmjr22,"Garland, TX",False,84.0,106.0,7113.0,2012-05-01 19:35:54,0.0
27,129301385,_christianreyes,CT,False,543.0,337.0,26993.0,2010-04-03 21:15:45,0.0
28,1255639044,isabellamwagner,nyi tml drw,False,247.0,687.0,5034.0,2013-03-09 23:50:14,0.0
29,3674872835,keetkeet_2613,None,False,170.0,120.0,2846.0,2015-09-16 12:48:58,0.0
...,...,...,...,...,...,...,...,...,...
9943,217327597,IllmaticTiny,"Washington, DC",False,346.0,222.0,2575.0,2010-11-19 06:07:00,0.0
9946,236613645,a_bell37,"Staten Island, NY",False,507.0,857.0,27148.0,2011-01-11 00:20:45,0.0
9947,1287123661,_xlexxuh,None,False,1660.0,1119.0,64587.0,2013-03-21 22:23:41,0.0
9948,25939147,KiannaBanks,"Worcester, MA",False,15059.0,3137.0,427517.0,2009-03-23 02:52:08,0.0
9949,889599440,JoinBAYADA,"Moorestown, NJ",False,521.0,29.0,43609.0,2012-10-18 19:39:58,0.0
9951,844271665,Philfought,"Chevy Chase, MD",False,259.0,221.0,5425.0,2012-09-24 20:37:54,0.0
9953,4636168756,kbaellerini,"Nashville, TN",False,737.0,448.0,2890.0,2015-12-28 21:08:09,0.0
9954,87799278,DonVavou,"Boston, MA",False,1972.0,1279.0,29574.0,2009-11-05 22:20:26,0.0
9955,151100965,djacks21,"Wilmington, N.C.",False,121.0,468.0,582.0,2010-06-02 16:10:51,0.0
9956,947860867202338817,brandon_orgeron,"Flagstaff, AZ",False,201.0,417.0,2308.0,2018-01-01 16:03:35,0.0
9957,282323293,USAFRadar,"Kansas City, Missouri",False,834.0,1067.0,3736.0,2011-04-15 00:24:02,0.0
9960,22262228,tmj_mia_health,"Miami, FL",False,616.0,305.0,310.0,2009-02-28 15:02:49,0.0
9961,2203620698,MyBeerCareer,None,False,84.0,9.0,215.0,2013-11-19 19:17:27,0.0
9963,958669507374940160,GauravJ85800228,"California, USA",False,3.0,34.0,373.0,2018-01-31 11:53:16,0.0
9964,162807961,realdeezyblaze,port schuyler,False,768.0,550.0,83829.0,2010-07-04 18:56:59,0.0
9965,405955869,J_Mohrr6,"Sandusky South, OH",False,1483.0,748.0,95040.0,2011-11-06 01:49:22,0.0
9967,141463367,tmj_ON_retail,Ontario,False,372.0,277.0,185.0,2010-05-08 04:48:11,0.0
9968,501328254,alexisjade_12,None,False,621.0,593.0,6911.0,2012-02-24 01:21:48,0.0
9969,50168771,Drew_Magic_,"Charlotte, NC",False,7194.0,2845.0,96870.0,2009-06-24 01:24:59,0.0
9970,2402345703,_NyDre,None,False,651.0,169.0,11876.0,2014-03-11 14:23:38,0.0
9971,3207531635,__stretch_,somewhere influencing blksouls,False,279.0,317.0,4041.0,2015-04-25 22:25:59,0.0
9972,1035273427,RjliiiRuss,"Beulaville, NC",False,134.0,374.0,7848.0,2012-12-25 17:47:28,0.0
9973,957135797471383552,_alicely,"Chicago, IL",False,22.0,97.0,85.0,2018-01-27 06:18:51,0.0
9977,714943533728141312,xslurmx,"Austin, TX",False,556.0,356.0,6202.0,2016-03-29 22:33:16,0.0
9978,154219215,Itsjairoagain,None,False,159.0,135.0,11977.0,2010-06-10 17:48:29,0.0
9979,13505842,brofax,"Denver, CO",True,1664.0,741.0,18917.0,2008-02-15 06:16:05,0.0
9981,4810707016,ZeeZalnasky,"Florida, USA",False,553.0,1248.0,5094.0,2016-01-15 04:17:46,0.0
9983,1927064575,great_dany,"Dallas, TX",False,320.0,778.0,920.0,2013-10-02 14:24:50,0.0
9984,21679394,tmj_gta_banking,Toronto,False,521.0,336.0,25.0,2009-02-23 18:49:46,0.0
9988,95602105,DiffKitchen,The 6ix,False,263.0,4.0,8798.0,2009-12-09 08:16:03,0.0

In [10]:
try:
    mycursor.execute(getUsersInsertQuery(users.values))
    mydb.commit()
except:
    pass

In [11]:
places = mydata[['place.id','place.name','place.country','place.polygon']]
places = places.drop_duplicates(subset = ['place.id'])
places['place.name'] = places['place.name'].apply(normalizeTweetText)
places

,place.id,place.name,place.country,place.polygon
0,650ad90d3abfb53b,"Junction City, OR",US,"[[[-123.22293, 44.193041], [-123.22293, 44.233..."
1,00b6a1c7611dcf24,"Connerton, FL",US,"[[[-82.520132, 28.251311], [-82.520132, 28.324..."
2,67b98f17fdcf20be,"Boston, MA",US,"[[[-71.191421, 42.227797], [-71.191421, 42.399..."
3,e444ecd51bd16ff3,"Cincinnati, OH",US,"[[[-84.710722, 39.052962], [-84.710722, 39.221..."
4,42e46bc3663a4b5f,"Fort Worth, TX",US,"[[[-97.538285, 32.569477], [-97.538285, 32.990..."
5,e4a0d228eb6be76b,"Philadelphia, PA",US,"[[[-75.280284, 39.871811], [-75.280284, 40.137..."
6,c596737f61af0189,"Hawesville, KY",US,"[[[-86.774577, 37.882528], [-86.774577, 37.906..."
7,7cd18caa8c0ebb9f,"Mount Lebanon, PA",US,"[[[-80.082398, 40.350594], [-80.082398, 40.401..."
8,18810aa5b43e76c7,"Dallas, TX",US,"[[[-96.977527, 32.620678], [-96.977527, 33.019..."
9,dc62519fda13b4ec,"Tampa, FL",US,"[[[-82.620093, 27.821353], [-82.620093, 28.171..."
10,25041b89e1b96118,"Woodmere, LA",US,"[[[-90.089118, 29.838214], [-90.089118, 29.874..."
11,00f751614d8ce37b,"Richmond, VA",US,"[[[-77.601044, 37.447046], [-77.601044, 37.612..."
12,03cc1ebe1b349ee3,"Gary, IN",US,"[[[-87.433258, 41.521967], [-87.433258, 41.649..."
13,5b8df26e6d0be60b,"Smyrna, GA",US,"[[[-84.561205, 33.788139], [-84.561205, 33.905..."
14,38d5974e82ed1a6c,"Ottawa, Ontario",CA,"[[[-76.353876, 44.961937], [-76.353876, 45.535..."
15,dd9c503d6c35364b,"Pennsylvania, USA",US,"[[[-80.519851, 39.719801], [-80.519851, 42.516..."
16,5635c19c2b5078d1,"Virginia, USA",US,"[[[-83.67529, 36.540739], [-83.67529, 39.46601..."
17,515586774402eacb,"Ellicott City, MD",US,"[[[-76.952172, 39.215288], [-76.952172, 39.324..."
18,361610d5aa1f6719,"Conroe, TX",US,"[[[-95.679001, 30.23105], [-95.679001, 30.4439..."
19,09efd2065c8ce28e,"Surrey, British Columbia",CA,"[[[-122.958937, 49.001921], [-122.958937, 49.2..."
20,73d1c1c11b675932,"Chesapeake, VA",US,"[[[-76.448383, 36.66], [-76.448383, 36.866431]..."
21,300bcc6e23a88361,"Seattle, WA",US,"[[[-122.436232, 47.495315], [-122.436232, 47.7..."
22,f8f8ee516109ee0e,"Whittier, CA",US,"[[[-118.072424, 33.928201], [-118.072424, 34.0..."
23,4ec71fc3f2579572,"Shreveport, LA",US,"[[[-93.938883, 32.332455], [-93.938883, 32.589..."
24,ae845a49091f2727,"Somerville, MA",US,"[[[-71.134552, 42.372753], [-71.134552, 42.418..."
25,344aab839ec7e1a8,"Sartell, MN",US,"[[[-94.255707, 45.585516], [-94.255707, 45.679..."
26,7c01d867b8e8c494,"Garland, TX",US,"[[[-96.706144, 32.829815], [-96.706144, 32.985..."
27,f080a098cad5b04d,"New Britain, CT",US,"[[[-72.826538, 41.643749], [-72.826538, 41.715..."
28,011add077f4d2da3,"Brooklyn, NY",US,"[[[-74.041878, 40.570842], [-74.041878, 40.739..."
29,a307591cd0413588,"Buffalo, NY",US,"[[[-78.912276, 42.826008], [-78.912276, 42.966..."
...,...,...,...,...
9804,01675aea6b4eda92,"Riverside, NJ",US,"[[[-74.972333, 40.024143], [-74.972333, 40.043..."
9805,ea049ae1073a8f35,"Orinda, CA",US,"[[[-122.219209, 37.838691], [-122.219209, 37.9..."
9815,cac22978c0754201,"Ashburn, GA",US,"[[[-83.676194, 31.690274], [-83.676194, 31.718..."
9828,01cb573821d94344,"Queen Creek, AZ",US,"[[[-111.686314, 33.196614], [-111.686314, 33.2..."
9834,00a08579718b4fbc,"Offutt Air Force Base, NE",US,"[[[-95.927589, 41.103706], [-95.927589, 41.136..."
9837,01e5198d558fc4d5,"Webster, NY",US,"[[[-77.534189, 43.1963], [-77.534189, 43.26774..."
9839,017426a66ed0cb82,"Manassas Park, VA",US,"[[[-77.478773, 38.753457], [-77.478773, 38.788..."
9842,6f49c528bb0c1a33,"Galt, CA",US,"[[[-121.337371, 38.236791], [-121.337371, 38.2..."
9847,c9bcc362968ea245,"Tahlequah, OK",US,"[[[-95.012128, 35.856248], [-95.012128, 35.976..."
9855,9a4adc08e83b58df,"Warsaw, IN",US,"[[[-85.944986, 41.190359], [-85.944986, 41.304..."
9857,8cc8ba275709bbf3,"Palatine, IL",US,"[[[-88.095381, 42.066918], [-88.095381, 42.163..."
9862,013610ca13565e32,"Jericho, VT",US,"[[[-73.00967, 44.495653], [-73.00967, 44.52894..."
9880,39fe8fa78b84c0aa,"Adjala-Tosorontio, Ontario",CA,"[[[-80.037373, 43.951418], [-80.037373, 44.323..."
9886,96795420ac05cc77,"Rye Brook, NY",US,"[[[-73.706731, 40.994712], [-73.706731, 41.074..."
9887,01ac4b3a219bfdb8,"Naomi, LA",US,"[[[-90.000071, 29.69979], [-90.000071, 29.7172..."
9889,57503ee52824a24c,"Cave Spring, VA",US,"[[[-80.052396, 37.2008], [-80.052396, 37.26295..."
9890,019d2c30621e5daf,"Nellis Air Force Base, NV",US,"[[[-115.073161, 36.225686], [-115.073161, 36.2..."
9901,a4d5a00cbd823818,"Greenwood Village, CO",US,"[[[-104.981057, 39.587505], [-104.981057, 39.6..."
9902,4959dac55d8204fc,"Marion, OH",US,"[[[-83.184218, 40.508388], [-83.184218, 40.659..."
9906,00899a1c3f2d6c7d,"Paradise Hills, NM",US,"[[[-106.719935, 35.188473], [-106.719935, 35.2..."
9910,a0399dae44255711,"East Hartford, CT",US,"[[[-72.664588, 41.723462], [-72.664588, 41.800..."
9912,63604225ab6c53c3,"Hartwell, GA",US,"[[[-82.954074, 34.318397], [-82.954074, 34.376..."
9918,f136163002bd51f6,"Mansfield, OH",US,"[[[-82.572489, 40.681009], [-82.572489, 40.815..."
9925,9939cd3304d567a1,"Shoreview, MN",US,"[[[-93.188708, 45.035759], [-93.188708, 45.124..."
9935,27fbd5412c269208,"Huntersville, NC",US,"[[[-80.957062, 35.366148], [-80.957062, 35.454..."
9947,dc25bb079ef6daf2,"Anderson, IN",US,"[[[-85.749418, 40.031713], [-85.749418, 40.179..."
9949,ec20fef6d3757560,"York, SC",US,"[[[-81.266985, 34.973268], [-81.266985, 35.019..."
9953,f3d2895a43058632,"East Ridge, TN",US,"[[[-85.275605, 34.984972], [-85.275605, 35.020..."
9970,caad7389e8124733,"South Gate, MD",US,"[[[-76.661193, 39.105728], [-76.661193, 39.160..."
9978,629f4a26fed69cd3,"Hialeah, FL",US,"[[[-80.356354, 25.806057], [-80.356354, 25.909..."

In [14]:
try:
    mycursor.execute(getPlacesInsertQuery(places.values))
    mydb.commit()
except:
    pass